body{font-family:arial}

*{box-sizing:border-box;}
.toggleButtonBase{
  
  width:20px;
  height:10px;
  border-radius:10px;
  background:grey;
  display:flex;
  align-items:center;
 transition:background 0.1s ease 0.1s;
  
  
}

.circle{
  background:white;
  height:80%;
  width:40%;
  margin-left:5%;
  box-shadow:-0.2px 0.2px 1px rgb(179, 178, 178);
  border-radius:50%;
  transition: margin 0.2s ease-out, box-shadow 0.2s ease ;
  
}

.toggleOn{
  margin-left:55%;
  box-shadow:0.2px 0.2px 1px #00A339;
}

.toggleButtonBaseActive{
  background:#00B840;
}

.button{margin:10px}

button{
  font-size: 80%;
  margin:5px;
padding:10px 40px;
border-radius:5px;
border:1px solid;
background:white;
color:#650986;}

.buttons{
  margin-top:10px;
  margin-bottom: 5px;
}
button.small{
  padding:8px 30px;
}

button.active{
  background:#c010c6;
  color:white;
  border:1px solid #c010c6;
  box-shadow:1px 1px 3px rgb(179, 178, 178);
}
button:active{
  background:#740a78;
  color:white;
  border:1px solid 740a786;
  box-shadow:1px 1px 3px rgb(179, 178, 178);
}

button.right{
  position: absolute;
  bottom:20px;
  right:80px
}
.label{
  margin-bottom:2px;
  font-size:90%;
  
}
.description{
  margin-top:0;
  margin-bottom:0;
  color:grey;
  font-size:70%
  

}
.flex{display:flex;
}
.flex.center{align-items:center}
.space-between{justify-content:space-between}

.optionsContainer{
  width:85%;
  margin:0 auto;
}

.optionsTab{
  width:65%;
  margin:0 15%;

}

.optionsHeader{
  color:purple;
  font-size:120%;
}
.optionsTabOuter{
  width:80%;
 box-shadow: 0 0 8px rgb(179, 178, 178);
  padding:30px calc(50px - 10vw);
  border-radius:15px;
  position: relative;
  padding-bottom: 100px;
  
}

.close{
  color:grey;
  border-width: 2px;
  font-weight: bold;
  border-radius:50%;
  width:20px;
  height:20px;
  padding:0;
  position: absolute;
  top:10px;
  right:10px;
}

.optionsMenu{
  width:80%;
  font-size:80%;
  box-shadow:0 0 8px rgb(179, 178, 178);
  display:flex;
  border-radius: 15px;
  margin:20px auto;
}
.menubar{
  width:20%;
}
.menuOption{
  padding:10px;
  color:grey;
  border-left: 5px solid transparent;
  
}
.menuOption.active{
  background: rgb(235, 233, 233);
  color:purple;
  border-left:5px solid
}

.menuTitle{
  color:grey;
  font-weight:100;
  padding:0 15px;

}

nav,aside{
  box-shadow: 0 0 5px rgb(179, 178, 178);
  background: white;

}

nav{padding:20px 0}

aside{
  height:110vh;
  
}
nav .container{
  
  width: 100%;
  padding:0 96px;
  height:40px;
  

}


aside.right{
  position: absolute;
  right:0;
  top:0;
  width:80px;

}
aside.left{
  position: absolute;
  left:0;
  top:0;
  width:80px;
  
}

@media(width <= 960px){
  .optionsMenu{width:768px;
  margin:20px 96px}
  nav{width:960px}

  aside{ left:880px}
}

img{max-width: 100%;
}
.icon{
  width:40%;
  border-radius: 5px;
  margin-bottom: 0;
}
.icon-container p{
  
   text-align: center;
   color:purple;
  font-size:0.6rem;
  margin-top:5px;  

}

.icon-container.border{
  border:2px solid purple;
  border-radius:5px;
  margin: 5px;
}

.icon-container{
  margin:30px 0;
  padding: 0 5px;
}
p.inactive{color: grey;}

.profile{ width:70%;
}
.small-icons{
  
  width:15px;
 
}
.small-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 3px;
  width:25px;
  height:25px;
  border-radius: 50%;
  border: 1px solid;
}

.border{
  border: 1px solid;}

  nav .border{
    padding: 0;
    border-radius: 5px;
    padding:10px;
    color: grey;
  }

  nav h2{
    margin:10px
  }

  .options{
    width:25px;
    
  }


  .small-icon{
    width:25px;
    margin-top: 10px;
    margin-right:5px
  }